<h1>Success</h1>
<br>
<h2>Your Order Status: <%= current_order.order_status %></h2>
<br>
<p>We have received your payement of <%= number_to_currency @payment_intent.amount_received / 100.0 %>.</p>
<p>The status of your payment is <%= @payment_intent.status %>.</p>


